.DS_Store
/dist/
node_modules/
yarn-error.log
.env
*.local
src/secrets.json
test.js
src/data/ecommerce.json
src/data/bigquery-template.json.js
.prettierrc
csv-etl-plot-template.md
json-etl-plot-template.md